.slide-container {
    width: 1200px;
}

.image-container img {
    width: 100%;
    max-height: 320px;
    // object-fit: cover;
}

.each-slide {
    width: 1200px;
}

.slide__item {
    width: 1200px;
}