.slide-container {
    width: 1200px;
    border-radius: 10px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.each-slide {
    width: 1200px;
}

.slide__item {
    width: 1200px;
}