
.grid-size_product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.size_product {
    background: var(--primary);
    padding: 0.25rem 0.25rem;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}

.image-preview_form {
    display: block;
}

.size_row {
    padding: 0;
}

.size_col {
    display: inline-block;
}

.row_2-col {
    display: flex;
    grid-gap: 15px;
}

.inside_form_admin {
    width: 50%;
    margin: 0 auto;
}