* {
    box-sizing: inherit;
}

html {
    line-height: 1.6rem;
    font-family: 'Montserrat Alternates', sans-serif !important;
    box-sizing: border-box;
    font-size: var(--base);

}

img {
    max-width: 100%;
}

.my-error {
    @apply tw-text-red-500;
    font-size: var(--small)
}

//react-confirm-alert
.custom-ui {
    background: white;
}

.react-confirm-alert-overlay {
    background: rgba(255, 255, 255, 0) !important
}

.slick-slide > div:first-child {
    padding: 0 !important;
}

.slick-slide > div {
    padding-left: 24px;
    width: 283.13px;
}

.slick-list {}

.slick-prev::before,
.slick-next::before {
    color: black !important;
}