* {
    box-sizing: inherit;
}

html {
    line-height: 1.6rem;
    font-family: 'Montserrat Alternates', sans-serif !important;
    box-sizing: border-box;
    font-size: var(--base);

}

img {
    max-width: 100%;
}

.my-error {
    @apply tw-text-red-500;
    font-size: var(--small)
}

.title-admin {
    font-size: var(--largest)
}