:root {
    //color
    --primary: #E94560;
    --secondary: #19365d;
    --bgr: #F6F9FC;
    --title: #2b3445;
    --gray: #7d879c;
    --disable: #DAE1E7;
    --star: #FFCD4E;

    //font-size
    --smallest: 11px;
    --smaller: 12px;
    --small: 13px;
    --base: 15px;
    --large: 16px;
    --larger: 18px;
    --largest: 24px;

    //border
    --rounded-1: 8px;
    --rounded-2: 100px;

    //trans-duration
    --trans-duration: 0.3s;

    //width container
    --container: 1200px;

    //width scrollbar
    --w-scroll: 8px;
}