/* Sidebar Checkout*/
.infor_checkout {
    border-bottom: 1px solid rgb(243, 245, 249);
    padding-bottom: 8px;
    margin-bottom: 1rem;
}

.row-infor_checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.color-text-infor_checkout {
    color: rgb(125, 135, 156);
    // color: var(--primary);
}

/* PROGRESS OF CUSTOMER*
/* LINE PROGRESS*/
.row_progress_of_customer {
    @apply tw-flex tw-justify-center;
    padding: 12px;
}

.progress_of_customer {
    margin: 0 auto;
}

.format_progress_of_customer {
    display: flex;
    padding-top: 30px;
    align-items: center;
}

.line_progress-active {
    box-shadow: none;
    width: 60px;
    height: 4px;
    background-color: var(--primary);
}

.line_progress-unactive {
    box-shadow: none;
    cursor: unset;
    width: 50px;
    height: 4px;
    background-color: rgb(255, 225, 230);
}

.step_progress-active {
    display: inline-flex;
    border-radius: 300px;
    cursor: pointer;
    box-shadow: unset;
    padding: 0.5rem 1.5rem;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: var(--primary);
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.step_progress-unactive {
    display: inline-flex;
    border-radius: 300px;
    cursor: pointer;
    box-shadow: unset;
    transition: all 150ms ease-in-out 0s;
    padding: 0.5rem 1.5rem;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: rgb(255, 225, 230);
    color: rgb(233, 69, 96);
    font-size: 14px;
    font-weight: 600;
}